/* .calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    grid-template-rows:25px repeat(6, 50px);
    
}
.date, .day{
    background-color: skyblue;
border-radius: 5px;
height: 50px;

display: flex;
justify-content: center;
align-items: center;
font-size: 1.5em;
}
.day{
    background-color: #6855554f;
    font-size: 1em;
}
::selection{
    color: rgb(255, 3, 3);
    background-color: rgb(0, 0, 0);
 
    
} */
/* .container{
    display: flex;
    gap: 20px;
}

.box{
    background-color: slateblue;
    padding: 20px;
    border-radius: 20px;
}
.item{
   width: 200px;
   height: 100px; 
   background-color: aquamarine;
   border: 2px solid tomato;
   border-radius: 10px;

}
.container2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px ;
}
.container3{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}
@media screen and (min-width: 577px)  {
   .container3{ 
    display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 576px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
flex-direction: column;
    }
    .container3{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 992px) {
    .container3{
        grid-template-columns: repeat(4,1fr);
    }
}
@media  screen and (min-width:1200px) {
    .container3{
        grid-template-columns: repeat(5,1fr);
    }
}
@media  screen and (min-width:1400px) {
    .container3{
        grid-template-columns: repeat(6,1fr);
    }
}
@media  screen and (min-width:1600px) {
    .container3{
        grid-template-columns: repeat(7,1fr);
    }
} */
/* img{
    width: 100%;
    height: 100%;
}
.row{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.row > div {
    flex: 1;
}
.row1{
    width: 100%;

}
.row1-image{
     height: 198px; 
    height: calc( (100% - 5px)/2 );
    
}
.image4{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 5px;

}
.image4 > img{
    height: 197.50px;
}

@media screen and (max-width: 576px) {
    .row{
        flex-direction: column; 
         height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr; 
    }
    .image4{
        height: 100%;
        width: 100%;
display: grid;
grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width:577px) and (max-width: 768px){
    .row{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
} */
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 400px) 50px 50px;
    gap: 30px;
    margin-bottom: 100px;
}
.box{
    background-color: #3442333f;
}
#box-1{
    grid-row: span 5;
}
#box-11, #box-12{
    grid-column: span 3;
}
#box-6, #box-7, #box-9, #box-10{
    background-color: rgba(255, 0, 0, 0.432);
}






.container2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
}
.boxes{
    background-color: gray;
}
#boxes-1 {
grid-column: span 12;
grid-row: span 2;
}
#boxes-2{
    grid-row: span 8;
    grid-column: span 2;
}
#boxes-3{
    grid-column: span 8;
    grid-row: span 8 ;
}
#boxes-4 , #boxes-5{
grid-column: span 2;
grid-row: span 4;
}
#boxes-6{
    grid-column: span 12;
    grid-row: span 1;
    
}
